.typed-container {
  font-size: 24px;
  font-weight: bold;
  color: #FF6F61;
  text-align: left;
  font-family: Arial, sans-serif;
}

.cursor {
  font-weight: bold;
  font-size: 24px;
  color: black;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

// Skills
.skills {
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;

}

.skill-category {
  margin-bottom: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  color: black;
  border-radius: 10px;
}

.skill-category h3 {
  color: black;
  padding: 10px;

}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-item {
  background: #e9ecef;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.skill-item:hover {
  background: #FF6F61;
  color: white;
}

.skill-item i {
  margin-right: 5px;
  color: #FF6F61;
}

.skill-item:hover i {
  color: white;
}