<div class="wrapper">
  <div class="sidebar">
    <div class="sidebar-header">
      <img src="../assets/img/profile.jpg" alt="Image">
    </div>
    <div class="sidebar-content">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a href="#" class="navbar-brand"> 𝓜𝒶𝓏𝒽𝒶𝓇 </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#header">Home<i class="fa fa-home"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About<i class="fa fa-address-card"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#experience">Experience<i class="fa fa-star"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#skills">Skills<i class="fa fa-cogs"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#service">Service<i class="fa fa-tasks"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio">Portfolio<i class="fa fa-file-archive"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact<i class="fa fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="sidebar-footer">
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
  <div class="content">
    <!-- Header Start -->
    <div class="header" id="header">
      <div class="content-inner">
        <p>I'm</p>
        <h1>Mazharul Islam</h1>
        <h2></h2>
        <div class="typed-container">
          <span class="typed-text">{{ currentText }}</span>
          <span class="cursor">|</span>
        </div>

      </div>
    </div>
    <!-- Header End -->

    <!-- Large Button Start -->
    <div class="large-btn">
      <div class="content-inner">
        <a class="btn" target="_blank" href="../assets/Mazharul_Islam_CV.pdf"><i class="fa fa-download"></i>Resume</a>
        <a class="btn" href="#contact"><i class="fa fa-hands-helping"></i>Contact Me</a>
      </div>
    </div>
    <!-- Large Button End -->

    <!-- About Start -->
    <div class="about" id="about">
      <div class="content-inner">
        <div class="content-header">
          <h2>About Me</h2>
        </div>
        <div class="row align-items-center">
          <div class="col-md-6 col-lg-5">
            <img src="../assets/img/about.jpg" alt="Image">
          </div>
          <div class="col-md-6 col-lg-7">
            <p>
              Over the past {{yearsDifference}}+ years, I have specialized in developing web applications using .NET and
              Angular. During
              this
              time, I have made significant contributions to various projects, including a Career Recommendation System,
              a
              Learning Management System, and a Cloud Kitchen platform serving both B2B and B2C businesses. In these
              roles, I have been involved in the design and development processes, ensuring optimal performance and
              scalability across all systems. I aspire to contribute effectively to innovative projects that seamlessly
              integrate
              front-end elegance with back-end functionality.
            </p>
            <a class="btn" href="#contact">Contact with me</a>
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->

    <!-- Education Start -->
    <div class="education" id="education">
      <div class="content-inner">
        <div class="content-header">
          <h2>Education</h2>
        </div>
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="edu-col">
              <span>Dec-2017 <i>to</i> Dec-2021</span>
              <h3>Bachelor's Degree</h3>
              <h4>BSc in CSE</h4>
              <p>City University of Bangladesh</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="edu-col">
              <span>Nov-2014 <i>to</i> Dec-2016</span>
              <h3>Intermediate</h3>
              <p>Gurudayal Government College, Kishoreganj</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="edu-col">
              <span>Jan-2004 <i>to</i> Sep-2014</span>
              <h3>Higher Secondary</h3>
              <p>Mushuli High School and Collage</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Education Start -->

    <!-- Experience Start -->
    <div class="experience" id="experience">
      <div class="content-inner">
        <div class="content-header">
          <h2>Experience</h2>
        </div>
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="exp-col">
              <span>May 2023 <i>to</i> Present</span>
              <h3>Enlight Solutions</h3>
              <h4>Mirpur-DOHS</h4>
              <h5>Software Engineer</h5>
              <ul class="mb-0">
                <li>Develop and maintain full-stack web applications using Angular, .NET, and SQL. responsive front-end
                  interfaces
                  and real-time features with SignalR.</li>
                <li>Create and customize RDLC reports and ensure code quality with clean, scalable development.</li>
                <li>Collaborate in Agile workflows, including daily stand-ups and sprint planning.</li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="exp-col">
              <span>Feb-2023 <i>to</i> April-2023</span>
              <h3>Enlight Solutions</h3>
              <h4>Mirpur-DOHS</h4>
              <h5>Software Engineer - Intern</h5>
              <ul class="mb-0">
                <li>Contributed to web development using Angular and .NET Core.</li>
                <li>Gained experience in Agile workflows, including stand-ups and sprint planning.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Experience End -->

    <!-- Skills Start -->
    <div class="experience" id="skills">
      <div class="content-inner">
        <div class="content-header">
          <h2>Skills</h2>
        </div>
        <div class="skills">
          <div class="skill-category">
            <h3>Frontend</h3>
            <p><i class="fa fa-laptop"></i> Angular | <i class="fa fa-code"></i> HTML | <i
                class="fa fa-paint-brush"></i> CSS | <i class="fa fa-cogs"></i> Bootstrap | <i
                class="fa fa-laptop-code"></i> JavaScript | <i class="fa fa-cogs"></i> TypeScript</p>
          </div>

          <div class="skill-category">
            <h3>Backend</h3>
            <p><i class="fa fa-server"></i> .NET Core | <i class="fa fa-plug"></i> SignalR</p>
          </div>

          <div class="skill-category">
            <h3>Database</h3>
            <p><i class="fa fa-database"></i> SQL | <i class="fa fa-database"></i> PostgreSQL</p>
          </div>

          <div class="skill-category">
            <h3>Reporting</h3>
            <p><i class="fa fa-file-alt"></i> RDLC Reporting</p>
          </div>

          <div class="skill-category">
            <h3>Version Control</h3>
            <p><i class="fa fa-git"></i> GitLab</p>
          </div>

          <div class="skill-category">
            <h3>Deployment</h3>
            <p><i class="fa fa-cloud"></i> AWS</p>
          </div>

          <div class="skill-category">
            <h3>Project Management</h3>
            <p><i class="fa fa-trello"></i> Jira | <i class="fa fa-gitlab"></i> GitLab Board</p>
          </div>

          <div class="skill-category">
            <h3>Concepts</h3>
            <p><i class="fa fa-cogs"></i> OOP | <i class="fa fa-cogs"></i> Scrum/Agile</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Skills End -->

    <!-- Service Start -->
    <div class="service" id="service">
      <div class="content-inner">
        <div class="content-header">
          <h2>Service</h2>
        </div>
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="srv-col">
              <i class="fa fa-desktop"></i>
              <h3>Web Design</h3>
              <p>Creating responsive, user-friendly designs that enhance user experience across all devices.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="srv-col">
              <i class="fa fa-laptop"></i>
              <h3>Web Development</h3>
              <p>Building robust web applications using .NET and Angular, optimized for performance and scalability.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="srv-col">
              <i class="fa fa-search"></i>
              <h3>API Development</h3>
              <p>Developing secure, efficient APIs that ensure seamless communication between different systems and
                applications.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="srv-col">
              <i class="fa fa-envelope-open-text"></i>
              <h3>Performance Optimization</h3>
              <p>Enhancing app performance by optimizing code, caching, and server processes for faster load times.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Service Start -->

    <!-- Portfolio Start -->
    <div class="portfolio" id="portfolio">
      <div class="content-inner">
        <div class="content-header">
          <h2>Portfolio</h2>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <!-- <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".web-des">Design</li>
              <li data-filter=".web-dev">Development</li>
              <li data-filter=".dig-mar">Marketing</li>
            </ul> -->
          </div>
        </div>
        <div class="row portfolio-container">
          <div class="col-lg-4 col-md-6 portfolio-item web-des">
            <div class="portfolio-wrap">
              <figure>
                <img src="../assets/img/portfolio-1.jpg" class="img-fluid" alt="">
                <a href="../assets/img/portfolio-1.jpg" data-lightbox="portfolio" data-title="Project Name"
                  class="link-preview" title="Preview"><i class="fa fa-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                <a class="portfolio-title" href="#">Project Name <span>Web Design</span></a>
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item web-des">
            <div class="portfolio-wrap">
              <figure>
                <img src="../assets/img/portfolio-2.jpg" class="img-fluid" alt="">
                <a href="../assets/img/portfolio-2.jpg" class="link-preview" data-lightbox="portfolio"
                  data-title="Project Name" title="Preview"><i class="fa fa-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                <a class="portfolio-title" href="#">Project Name <span>Web Design</span></a>
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item web-dev">
            <div class="portfolio-wrap">
              <figure>
                <img src="../assets/img/portfolio-3.jpg" class="img-fluid" alt="">
                <a href="../assets/img/portfolio-3.jpg" class="link-preview" data-lightbox="portfolio"
                  data-title="Project Name" title="Preview"><i class="fa fa-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                <a class="portfolio-title" href="#">Project Name <span>Web Development</span></a>
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item web-dev">
            <div class="portfolio-wrap">
              <figure>
                <img src="../assets/img/portfolio-4.jpg" class="img-fluid" alt="">
                <a href="../assets/img/portfolio-4.jpg" class="link-preview" data-lightbox="portfolio"
                  data-title="Project Name" title="Preview"><i class="fa fa-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                <a class="portfolio-title" href="#">Project Name <span>Web Development</span></a>
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item dig-mar">
            <div class="portfolio-wrap">
              <figure>
                <img src="../assets/img/portfolio-5.jpg" class="img-fluid" alt="">
                <a href="../assets/img/portfolio-5.jpg" class="link-preview" data-lightbox="portfolio"
                  data-title="Project Name" title="Preview"><i class="fa fa-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                <a class="portfolio-title" href="#">Project Name <span>Digital Marketing</span></a>
              </figure>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item dig-mar">
            <div class="portfolio-wrap">
              <figure>
                <img src="../assets/img/portfolio-6.jpg" class="img-fluid" alt="">
                <a href="../assets/img/portfolio-6.jpg" class="link-preview" data-lightbox="portfolio"
                  data-title="Project Name" title="Preview"><i class="fa fa-eye"></i></a>
                <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                <a class="portfolio-title" href="#">Project Name <span>Digital Marketing</span></a>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Portfolio Start -->

    <!-- Review Start -->
    <!-- <div class="review" id="review">
      <div class="content-inner">
        <div class="content-header">
          <h2>Review</h2>
        </div>
        <div class="row align-items-center review-slider">
          <div class="col-md-12">
            <div class="review-slider-item">
              <div class="review-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu suscipit orci. Donec molestie velit id
                  libero blandit, quis suscipit urna suscipit. Donec aliquet erat eu lacinia iaculis. Ut tempor tellus
                  eu sem pharetra feugiat.
                </p>
              </div>
              <div class="review-img">
                <img src="../assets/img/review-1.jpg" alt="Image">
                <div class="review-name">
                  <h3>Client Name</h3>
                  <p>Profession</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="review-slider-item">
              <div class="review-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu suscipit orci. Donec molestie velit id
                  libero blandit, quis suscipit urna suscipit. Donec aliquet erat eu lacinia iaculis. Ut tempor tellus
                  eu sem pharetra feugiat.
                </p>
              </div>
              <div class="review-img">
                <img src="../assets/img/review-2.jpg" alt="Image">
                <div class="review-name">
                  <h3>Client Name</h3>
                  <p>Profession</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="review-slider-item">
              <div class="review-text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu suscipit orci. Donec molestie velit id
                  libero blandit, quis suscipit urna suscipit. Donec aliquet erat eu lacinia iaculis. Ut tempor tellus
                  eu sem pharetra feugiat.
                </p>
              </div>
              <div class="review-img">
                <img src="../assets/img/review-3.jpg" alt="Image">
                <div class="review-name">
                  <h3>Client Name</h3>
                  <p>Profession</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Review End -->

    <!-- Contact Start -->
    <div class="contact" id="contact">
      <div class="content-inner">
        <div class="content-header">
          <h2>Contact</h2>
        </div>
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="contact-info">
              <p><i class="fa fa-user"></i>Md. Mazharul Islam</p>
              <p><i class="fa fa-tag"></i>Software Engineer</p>
              <p><i class="fa fa-envelope"></i><a
                  href="mailto:mazharulIslam.rx1@gmail.com">mazharulIslam.rx1&#64;gmail.com</a></p>
              <p><i class="fa fa-phone"></i><a href="tel:+1234567890">+8801608800066</a></p>
              <p><i class="fa fa-map-marker"></i>Mirpur-12, Dhaka, Bangladesh</p>
              <div class="social">
                <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                <a class="btn" href=""><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
          <!-- email.component.html -->
          <div class="col-md-6">
            <div class="form">
              <form (ngSubmit)="sendMessage()" #contactForm="ngForm">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="Your Name" [(ngModel)]="name" name="name"
                      required #nameField="ngModel" />
                    <div *ngIf="nameField.invalid && nameField.touched" class="text-danger">
                      Name is required.
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <input type="email" class="form-control" placeholder="Your Email" [(ngModel)]="email" name="email"
                      required #emailField="ngModel" />
                    <div *ngIf="emailField.invalid && emailField.touched" class="text-danger">
                      A valid email is required.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Subject" [(ngModel)]="subject" name="subject"
                    required #subjectField="ngModel" />
                  <div *ngIf="subjectField.invalid && subjectField.touched" class="text-danger">
                    Subject is required.
                  </div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" rows="5" placeholder="Message" [(ngModel)]="message" name="message"
                    required #messageField="ngModel"></textarea>
                  <div *ngIf="messageField.invalid && messageField.touched" class="text-danger">
                    Message is required.
                  </div>
                </div>
                <div>
                  <button class="btn" type="submit" [disabled]="contactForm.invalid">Send Message</button>
                </div>
              </form>
            </div>
          </div>


        </div>
      </div>
    </div>
    <!-- Contact End -->

    <!-- Footer Start -->
    <div class="footer">
      <div class="content-inner">
        <div class="row align-items-center">
          <div class="col-md-6">
            <p>&copy; Copyright <a href="#">Mazharul Islam</a>. All Rights Reserved</p>
          </div>
          <div class="col-md-6">
            <!-- <p>Powered by <a href="#">❤</a></p> -->
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Start -->
  </div>
</div>