.typed-container {
  font-size: 24px;
  font-weight: bold;
  color: #FF6F61;
  text-align: left;
  font-family: Arial, sans-serif;
}

.cursor {
  font-weight: bold;
  font-size: 24px;
  color: black;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

// Skills
.experience {
  padding: 50px;
  background-color: #f4f4f4;
}

.content-header h2 {
  text-align: left;
  font-size: 36px;
  color: #333;
  margin-bottom: 30px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.skill-category {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-category:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skill-category h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #333;
}

.skill-category p {
  font-size: 16px;
  color: #555;
}

.skill-category i {
  margin-right: 10px;
  color: #5d5d5d;
}

.skill-category p i:last-child {
  margin-right: 0;
}

.skill-category p {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.skill-category p i+i {
  margin-left: 10px;
}

/* Hover Effect for Skills */
.skill-category:hover {
  background-color: #f1f1f1;
}

.skill-category:hover h3 {
  color: #007bff;
}

.skill-category:hover p {
  color: #444;
}
